.container-grid {
  .category-main {
    grid-column-start: 3;
    grid-column-end: 8;
    margin-top: 1rem;

    h3 {
      display: inline-block;
      margin: 0 2rem 0 1rem;
      border-bottom: 2px solid $primary-color;
      margin-bottom: 1rem;
    }

    span {
      font-weight: bold;
      font-size: 3rem;
    }

    @media (max-width: 375px) {
      span {
        font-weight: bold;
        font-size: 2rem;
        margin-left: 1rem;
      }
    }
  }

  @media (max-width: 1024px) {
    .category-main {
      grid-column-start: 1;
    }
  }
}
