.menu-kategorie-menue-container {
  ul {
    list-style-type: none;

    li {
      line-height: 1.5;
      background-color: rgba(250, 250, 250, 0.2);

      a {
        text-decoration: none;
        color: $primary-text-color-dynamic;
        font-size: 1.3rem;
        text-shadow: #fff;
        border-bottom: 2px solid transparent;

        transition: opacity 0.6s, border-bottom 0.3s;

        &:hover {
          border-bottom: 2px solid $secondary-color;

          opacity: 0.7;
        }
      }
    }

    @media (max-width: 375px) {
      li {
        background-color: transparent;
      }
    }
  }
}

.menu-kategorie-container {
  ul {
    list-style-type: none;

    li {
      line-height: 1.5;
      background-color: rgba(250, 250, 250, 0.2);

      a {
        text-decoration: none;
        color: $primary-text-color-dynamic;
        font-size: 1.3rem;
        text-shadow: #fff;
        border-bottom: 2px solid transparent;

        transition: opacity 0.6s, border-bottom 0.3s;

        &:hover {
          border-bottom: 2px solid $secondary-color;

          opacity: 0.7;
        }
      }
    }

    @media (max-width: 375px) {
      li {
        background-color: transparent;
      }
    }
  }
}
