/* Error message */

.container.error {
  min-height: 100vh;

  .error-msg {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin-top: 50%;
    font-size: 3rem;
    text-shadow: 1px 1px 1px $primary-color;
    color: $primary-text-color;

    padding: 0.3rem;
    background-color: rgba(250, 250, 250, 0.3);
  }

  @media (max-width: 375px) {
    .error-msg {
      font-size: 2rem;
    }
  }
}
