.footer-wrap {
  height: 6rem;
  background-color: $primary-color;
  border-top: 3px solid $primary-color-shade;

  .wrap-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;

    ul li {
      display: inline-flex;
      justify-content: space-between;

      &:first-child:after {
        content: '|';
        padding-left: 0.3rem;
        color: #fff;
      }

      a {
        color: rgb(128, 117, 117);
        text-decoration: none;
        padding: 0 5px;
        border-bottom: 2px solid transparent;
        transition: all 0.5s;

        &:hover {
          border-bottom: 2px solid $secondary-color;
          color: #fff;
        }
      }
    }

    @media (max-width: 320px) {
      font-size: 0.9rem;
    }

    .insta-icon {
      font-size: 2rem;
      color: #fff;
      transition: all 0.5s;

      &:hover {
        transform: scale(1.2);
        color: $secondary-color;
      }
    }

    .wrap-follow {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-left: 1rem;

      i {
        margin-left: 0.5rem;
      }

      p {
        color: $primary-text-color;
        margin-bottom: 0;
      }

      /* Including Iphone 11 */
      @media (max-width: 450px) {
        p {
          display: none;
        }
      }
    }

    .wrap-logo-footer {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
    }

    .footer-image {
      height: 3rem;
      width: 3rem;
      margin: 1rem;
    }
  }

  @media (max-width: 450px) {
    .wrap-content {
      justify-content: space-evenly;
    }
  }
}
