// Head
.head-wrap {
  background-color: #bdbfb1;
  background: url('../../img/nav_background_new.jpg') no-repeat center right/cover;
  height: 10rem;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  border-bottom: 3px solid $primary-color-shade;
  padding-bottom: 1rem;
}

/* Iphone 6/7/8 */
@media (max-width: 450px) {
  .head-wrap {
    height: 5rem;
  }
}

.logo {
  .header-image {
    width: 20rem;
    margin-left: 2rem;
    height: auto;
  }

  /* Iphone 6/7/8  */
  @media (max-width: 450px) {
    .header-image {
      width: 12rem;
      margin-left: 1rem;
    }
  }
}

.navigation-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 1200px) {
  .navigation-wrap {
    display: none;
  }
}

#main-nav {
  ul {
    display: inline-flex;
    justify-content: space-between;

    li {
      list-style: none;
      margin-right: 1rem;
      border-bottom: 3px solid transparent;
      transition: 0.3s;
      padding: 0 5px;

      &:hover {
        border-bottom: 3px solid $secondary-color;
        border-radius: 2px;
      }

      &.current_page_item {
        border-bottom: 3px solid $secondary-color;
        border-radius: 2px;
      }

      a {
        color: $primary-text-color;
        text-decoration: none;
        transition: all 0.5s;
        font-size: 1.2rem;
        border-bottom: none;

        &:hover {
          color: #fff;
        }
      }

      @media (max-width: 1024px) {
        a {
          color: #fff;
          text-shadow: 1px 1px 0 $primary-text-color-dynamic;
          border-bottom: none;
        }
      }
    }
  }
}

/* Navigation Mobile */
#navigation-wrap-mobile {
  position: relative;
  right: 0;
  bottom: -26px;
  width: 70px;
  height: 70px;
  display: none;

  /* Burger menu */
  .burger {
    position: absolute;
    right: 50%;
    bottom: 50%;
    height: 4px;
    width: 40px;
    background-color: #fff;

    transform: translate(50%, -50%);

    &:before {
      position: absolute;
      content: '';
      top: -10px;
      height: 4px;
      width: 40px;
      background-color: #fff;
    }

    &:after {
      position: absolute;
      content: '';
      top: 10px;
      height: 4px;
      width: 40px;
      background-color: #fff;
    }
  }

  @media (max-width: 450px) {
    .burger {
      height: 2px;

      &:before {
        height: 2px;
      }

      &:after {
        height: 2px;
      }
    }
  }
}

@media (max-width: 1200px) {
  #navigation-wrap-mobile {
    display: block;
  }
}

#main-nav-mobile {
  position: fixed;
  z-index: 10;
  width: 45%;
  height: 100%;
  background-color: $primary-color;
  right: -100%;
  top: 0;
  bottom: 0;
  transition: all 1s ease;

  .navigation-heading {
    position: relative;
    color: #fff;
    text-shadow: none;
    margin: 0.5rem 0 1.5rem 0.5rem;
    font-size: 1.5rem;

    &:after {
      content: '';
      display: block;
      width: 70%;
      border-bottom: 1px solid #fff;
    }

    #close-btn {
      position: absolute;
      right: 1rem;
      top: 0.5rem;
      height: 33px;
      width: 33px;

      .x-left {
        position: absolute;
        right: 0;
        top: 0.6rem;
        bottom: 0;
        width: 30px;
        height: 2px;
        background-color: #fff;

        transform: rotate(-45deg);
      }

      .x-right {
        position: absolute;
        right: 0;
        top: 0.6rem;
        bottom: 0;
        width: 30px;
        height: 2px;
        background-color: #fff;

        transform: rotate(45deg);
      }
    }
  }

  .search-mobile {
    margin: 0 0 1rem 0.5rem;

    input[type='text'] {
      width: 80% !important;
    }

    .search-btn {
      margin-right: 0;
    }
  }

  .navigation-mobile {
    margin: 0 0 1rem 0.5rem;

    h3 {
      color: #fff;
      font-size: 1.5rem;
      margin-bottom: 0.5rem;

      &:after {
        content: '';
        display: block;
        width: 70%;
        border-bottom: 1px solid #fff;
      }
    }

    ul {
      font-size: 1.2rem;
      line-height: 1.5;

      li {
        list-style-type: none;

        a {
          color: #fff;
          text-decoration: none;
          border-bottom: none;
        }
      }
    }
  }

  .categories-mobile {
    margin-left: 0.5rem;
    h3 {
      color: #fff;
      font-size: 1.5rem;

      &:after {
        content: '';
        display: block;
        width: 70%;
        border-bottom: 1px solid #fff;
      }
    }

    ul {
      list-style-type: none;

      li {
        line-height: 1.5;
        font-size: 1.2rem;
        background-color: transparent;

        &:first-child {
          margin-top: 0.5rem;
        }

        a {
          color: #fff;
          text-decoration: none;
          border-bottom: none;
        }
      }
    }
  }
}

#main-nav-mobile.navbar-open {
  position: fixed;
  z-index: 10;
  width: 55%;
  height: 100%;
  background-color: $primary-text-color-dynamic;
  right: 0;
  top: 0;
  bottom: 0;
  transition: all 1s ease;
  border-left: 3px solid $secondary-color;
  overflow: scroll;
}

/* iPhone 6/7/8 */
@media (max-width: 650px) and (min-width: 421px) {
  #main-nav-mobile.navbar-open {
    width: 83%;

    .search-mobile input[type='text'] {
      width: 80% !important;
    }
  }
}

/* Iphone 5 */
@media (max-width: 420px) {
  #main-nav-mobile.navbar-open {
    width: 100%;
  }

  .search-mobile input[type='text'] {
    width: 78% !important;
  }
}
