.container-grid {
  display: grid;
  grid-template-columns: repeat(8, 1fr);

  .post-grid {
    grid-column-start: 3;
    grid-column-end: 7;
  }
}

@media (max-width: 1500px) {
  .container-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);

    .post-grid {
      grid-column-start: 1;
      grid-column-end: 6;
    }
  }
}

.categories-grid {
  grid-column-start: 7;

  @media (max-width: 1024px) {
    .categories-grid {
      grid-column-start: 5;
    }
  }

  .categories {
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;

    h3 {
      font-size: 2rem;
      width: 100%;
      color: $primary-text-color-dynamic;
      text-shadow: 1px 1px 0 #fff;
      margin-bottom: 0.5rem;
      border-bottom: 2px solid #000;
      padding: 0 2rem;
    }

    .menu-kategorie-menue-container {
      /* background: rgba($color: #fff, $alpha: 0.5); */
      border-radius: 5px;
      padding: 1rem 0.5rem;
      width: 100%;
      height: 100%;

      #menu-kategorie-menue {
        li {
          list-style-type: none;
          line-height: 1.5;
          font-size: 1.2rem;

          a {
            text-decoration: none;
            color: $primary-text-color-dynamic;
            padding: 0 1rem;
            border-bottom: 2px solid transparent;
            transition: all 0.5s;
            text-shadow: 1px 1px 0 #fff;

            &:hover {
              border-bottom: 2px solid $primary-text-color-dynamic;
            }
          }
        }
      }
    }
  }

  @media (max-width: 1024px) {
    .categories {
      margin-right: 1rem;
    }
  }

  @media (max-width: 768px) {
    .categories {
      display: none;
    }
  }
}
