@media (max-width: 1500px) {
  .container-impressum-datenschutz {
    margin-left: 1rem;
    display: block;
  }
}

.h-impressum-datenschutz {
  color: $primary-text-color-dynamic;
  font-size: 2.5rem;
  border-bottom: 3px solid $primary-color;
  display: inline-block;
}

.p-impressum-datenschutz {
  font-size: 1.3rem;
  text-shadow: 1px 1px 0 #fff;
  color: $primary-text-color-dynamic;
  line-height: 1.3;
  background-color: rgba(250, 250, 250, 0.3);

  h3 {
    padding-left: 0.5rem;
  }

  p {
    padding-left: 0.5rem;
  }
}

.current_page_item {
  a {
    border-bottom: 2px solid $secondary-color;
    color: #fff !important;
  }
}
