.newsletter {
    width: 70%;
    padding: 0.5rem;
    border: none;
    border-radius: 0;
    -webkit-border-radius: 0;
    transition: all 0.5s ease;
    margin-right: -5px;

    &:focus {
        outline: none;
    }
}

.grid-newsletter {
    margin-left: 2rem;

    h2 {
        text-shadow: 1px 1px #fff;
        font-size: 1.6rem;
        margin-bottom: 1rem;
    }
}

.mc4wp-alert.mc4wp-success {
    font-size: 1.3rem;
    text-shadow: 1px 1px #fff;
}
