.card {
  position: relative;
  border: 1px solid $secondary-color-shade;
  padding: 1rem;
  /* background-color: $secondary-color; */
  background: url('../../img/post-background.png') no-repeat center center/cover;
  border-radius: 2px;
  box-shadow: 0 8px 6px -6px $primary-color;
  margin: 1rem;

  /*  @media (max-width: 1370px) {
    background: url('../../img/post-background.png') no-repeat center
      right/cover;
  } */

  h3.heading-post {
    color: $primary-text-color-dynamic;
    margin-bottom: 1.2rem;
    font-size: 1.5rem;
    border-bottom: 2px solid $primary-color;
    display: inline-block;
    padding: 0 10px;
    text-shadow: 1px 1px 0 $primary-color;
  }

  p {
    font-size: 1.1rem;
    margin-bottom: 1rem;
    display: inline-block;
    /* padding-right: 50%; */ // for post-background_old.jpeg
  }

  @media (max-width: 375px) {
    p {
      padding-right: 0;
    }
  }

  small {
    text-shadow: 1px 1px 0 $primary-color;
    display: block;

    .date {
      &:after {
        content: ',';
        padding-bottom: 1rem;
      }
    }

    a {
      text-decoration: none;
      color: $primary-text-color;
      transition: opacity 0.3s;

      &:last-of-type {
        margin-right: 100px;
      }

      &:hover {
        opacity: 0.8;
      }
    }
  }

  .read-more-wrap {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 30px;
    bottom: 0.5rem;
    right: 0.5rem;
    border: 1px solid $primary-color-shade;
    border-radius: 3px;

    background-color: $primary-color;

    /* Hides the oversize from &:before */
    overflow: hidden;

    &:before {
      content: '';

      background-color: $primary-color-shade;
      width: 100%;
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      opacity: 0.5;

      /* Creates hidden element which slides between background and text */
      transform: scale(3) translateX(-40%) translateY(-40%) rotate(-28deg);
      /* Set speed of how fast it appears (?) */
      transition: transform 3s cubic-bezier(0.1, 1, 0.1, 1);
    }

    &:hover:before {
      /* Bring element to position above a tag */
      transform: scale(3) translateX(0) translateY(0) rotate(-28deg);
    }

    &:hover a.read-more {
      color: #fff;
      text-shadow: $primary-color-shade;
    }

    a.read-more {
      cursor: pointer;
      color: $primary-text-color-dynamic;
      padding: 0.5rem 0.8rem;
      border-bottom: none;

      text-decoration: none;
      transition: all 0.3s;
      z-index: 2;
    }
  }
}

/* Pagination */
.navigation.pagination {
  margin-left: 1rem;
  font-size: 1.3rem;
}

.page-numbers {
  text-shadow: 1px 1px 0 #fff;
  color: $primary-text-color;
  text-decoration: none;
  padding: 0 0.2rem;
  transition: all 0.3s;
  text-decoration: underline transparent;
  margin-bottom: 1rem;

  &.current {
    font-size: 1.6rem;
    color: #711521;
    text-decoration: underline $primary-text-color;
  }

  &:hover {
    opacity: 0.9;
    text-decoration: underline;
  }
}

/* Disable / Hide screenreader text above pagination */
.screen-reader-text {
  display: none;
}
