#s {
  width: 250px;
  padding: 0.5rem;
  border: none;
  border-radius: 0;
  -webkit-border-radius: 0;
  transition: all 0.5s ease;
  margin-right: -5px;

  &:focus {
    outline: none;
    width: 25vw;
  }

  @media (max-width: 1024px) {
    width: 230px;

    &:focus {
      width: 230px;
    }
  }
}

input[type='submit'].search-btn {
  padding: 0.5rem;
  border: none;
  -webkit-border: none;
  border-radius: 0;
  -webkit-border-radius: 0;
  background-color: $primary-text-color-dynamic;
  color: #fff;
  margin-right: 2rem;
  transition: all 0.5s;
  -webkit-appearance: none;
  -moz-appearance: none;

  &:focus {
    outline: none;
  }

  &:hover {
    background-color: rgba($color: $primary-text-color-dynamic, $alpha: 0.8);
  }
}

@media (max-width: 1000px) {
  input[type='submit'].search-btn {
    background-color: $primary-color;
  }
}

input[type='submit'] {
  text-shadow: 1px 1px 10px #333;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.search-result-number {
  display: flex;
  grid-column-start: 3;
  grid-column-end: 8;
  justify-content: start;
  align-items: center;
  margin: 1rem 0 0 1rem;
}

@media (max-width: 1024px) {
  .search-result-number {
    grid-column-start: 1;
  }
}

.search-count {
  font-size: 3.5rem;
  margin-right: 1rem;
}

.search-output {
  display: inline-block;
  font-size: 2rem;
  font-weight: bold;
  margin-top: 0.8rem;
  text-shadow: 1px 1px 0 #fff;
}

@media (max-width: 375px) {
  .search-output {
    font-size: 1.3rem;
  }
}

.search-input {
  display: inline-block;
  margin-left: 0.5rem;
}
