$max-width: 1100px;

$primary-color: #c0c2b4;
$primary-color-shade: #9da08a;
$primary-text-color: #564e4e;
$primary-text-shadow: 1px 1px 0 #ccc;
$primary-text-color-dynamic: #414236;
$secondary-color: #85886f;
$secondary-text-color: #fff;
$secondary-color-hover: rgba(203, 175, 149, 0.9);
$secondary-color-shade: #e7e0da;

.container {
  max-width: $max-width;
  margin: 0 auto;
}

.content-wrap {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
}

@media (max-width: 450px) {
  .content-wrap {
    grid-template-columns: 1fr;
  }
}

.py {
  &-1 {
    padding: 1rem 0;
  }

  &-2 {
    padding: 2rem 0;
  }

  &-3 {
    padding: 3rem 0;
  }

  &-4 {
    padding: 4rem 0;
  }
}

.my {
  &-1 {
    margin: 1rem 0;
  }

  &-2 {
    margin: 2rem 0;
  }

  &-3 {
    margin: 3rem 0;
  }

  &-4 {
    margin: 4rem 0;
  }
}

.mx {
  &-1 {
    margin: 0 1rem;
  }

  &-2 {
    margin: 0 2rem;
  }

  &-3 {
    margin: 0 3rem;
  }

  &-4 {
    margin: 0 4rem;
  }
}

.min-vh {
  min-height: 100vh;
}
