@import url('https://fonts.googleapis.com/css2?family=Chelsea+Market&family=Josefin+Sans:wght@300;400;700&display=swap');

// font-family: 'Chelsea Market', cursive;
// "Josefin Sans", sans-serif;

@import 'utilities';
@import 'home';
@import 'head';
@import 'footer';
@import 'ueber_kontakt';
@import 'archive';
@import 'search';
@import 'posts';
@import 'error';
@import 'categories';
@import 'impressum_datenschutz';
@import 'newsletter';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Josefin Sans', sans-serif;
  background: url('../../img/body_background.jpg') no-repeat center center/cover;
  color: $primary-text-color;
}

p {
  margin-bottom: 1.3rem;
}

/* Links displayed in posts */
a {
  text-decoration: none;
  color: $primary-text-color-dynamic;
  border-bottom: 2px solid $primary-color;
  transition: all 0.5s;

  &:hover {
    opacity: 0.7;
  }
}
