#head-kontakt,
#head-ueber {
  h1 {
    display: flex;
    justify-content: center;
    color: $primary-text-color-dynamic;
    text-shadow: $primary-text-shadow;
    border-bottom: 2px solid $secondary-color;
    border-radius: 2px;
  }
}

.image-kontakt,
.image-ueber {
  width: 500px;
  height: auto;
  width: 100%;
  object-fit: cover;
  border: 3px solid $primary-color-shade;
  border-radius: 2px;
}

.content-wrap-paragraph {
  background: rgba($color: #fff, $alpha: 0.5);
  padding: 1rem 0.5rem;
  /* box-shadow: 5px 5px 10px #000; */

  p {
    color: $primary-text-color-dynamic;
    line-height: 1.5;
    font-size: 1.3rem;
    /* text-shadow: 1px 1px rgb(168, 168, 168); */
    display: inline-block;
  }
}

@media (max-width: 1024px) {
  #main-ueber,
  #main-kontakt {
    margin: 0 1rem;
  }
}
